<!DOCTYPE html>
<html ng-app="avatarSearchApp">
    <head>
        <title>Avatar Search</title>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/static/css/index.css"/>
    </head>
    <body ng-controller="AvatarSearchCtrl">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
        <script src="/static/js/avatarSearchApp.js"></script>
        <div class="content">
            <h1 class="title">Avatar Search</h1>
            <div class="search">
                <input type="email" ng-model="emailQuery" placeholder="Enter email address" /><button ng-click="search()" ng-disabled="!canSearch()">Search!</button>
            </div>
            <div class="results" ng-class="getResultClass()">
                <img ng-if="avatarUrl !== ''" ng-src="{{avatarUrl}}"/>
                <h3 ng-if="errMsg !== ''">{{errMsg}}</h3>
            </div>
        </div>
    </body>
</html>
